<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação de Autenticação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Redirecionador</h1>
            <nav>
                <a href="{{ url_for('register') }}">Registrar</a>
                <a href="{{ url_for('login') }}">Login</a>
            </nav>
        </div>
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 - Todos os direitos reservados</p>
        </div>
    </footer>
</body>
</html>
